*,*::after,*::before{
      margin: 0;
      padding: 0;
}

html {
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;
}


ul{
      display: flex;
      justify-content: space-around;
}

ul>li {
      flex-flow: column nowrap;
      list-style: none;

}

li>a{
      text-decoration: none;
}

#titulo{
      display: flex;
      justify-content: center;
}

#titulo>h1{
      text-align: center;
}


